{% extends "base.html" %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Welcome to Fastnews app</h1>
      <p>We are a team of dedicated people who try to bring to you unbiased news to you. It is a community of responsible students and adults who wants to say the trueth as truth and lie as lie</p>
      <p>Created by : Pallavi Maity (Admin)</p>
      <p>Mail Us : admin@gmail.com</p>
      <p>Contact us : 9999888776</p>
      <h4>Find us at <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i> <i class="fa fa-linkedin" aria-hidden="true"></i></h4>
    </div>
</div>
{% endblock content %}
